$body-bg: #f2f2f2;
$primary: #243D56;
$secondary: #ccdfe7;
$danger: #e2464b;
$success: #d8d7db;
$warning: #fbf9f4;
$info: #00C9BD;
$dark: #313130;
$dblue: #243D56;
$lblue: #628899;
$grey: #d8d7db;
$cream: #fbf9f4;
$red: #e2464b;
